<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 此文件必须使用mapper作为根级节点 -->
<!-- namespace属性：必须的，用于指定此XML文件对应的接口，取值为接口的全限定名 -->
<mapper namespace="cn.tedu.liu.mapper.ProductMapper">

    <sql id="DetailQueryField">
        <if test="true">
            proid, pname, price, inprice, prodate,
            reledate, supname, protype, unit, marks
        </if>
    </sql>


    <insert id="addNew" useGeneratedKeys="true" keyProperty="proid">
        insert into product(
             pname, price, inprice, prodate,
             reledate, supname, protype, unit, marks
             )
        values (
             #{pname}, #{price}, #{inprice}, #{prodate},
             #{reledate}, #{supname}, #{protype}, #{unit},#{marks}
               )
    </insert>

    <select id="getById" resultType="cn.tedu.liu.pojo.vo.ProductDetailVO">
        select
            <include refid="DetailQueryField"/>
        from
             product
        where
              proid=#{proid}
    </select>

</mapper>