<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.pro.zzz.mapper.UserMapper">
    <select id="getStockInfo" resultType="cn.tedu.pro.zzz.pojo.vo.StockVO">
        select
            id,proid,pname,num,indate
        from
             stock
        where
              id=#{} or proid=#{proid} or pname like "%#{pname}%" or indate=#{indate}
    </select>

    <select id="getAllStockInfo" resultType="cn.tedu.pro.zzz.pojo.vo.StockVO">
        select
            id,proid,pname,num,indate
        from
            stock
    </select>

</mapper>